<p id="notice"><%= notice %></p>
<head>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>  
</head>

<h1>Listing Products</h1>
<table>
  <tr>
    <tr class="my-row" style="background-color: rgb(128, 128, 128);" "text-align: center">
        <th><strong>Trial Bundle</strong></th>
        <th><strong>Regular Bundle</strong></th>
        <th><strong>Elite Bundle</strong></th>
      </tr>
      <tr class="my-row">
        <td>10 tickets</td>
        <td>25 tickets</td>
        <td>Unlimited tickets</td>
      </tr>
      <tr class="my-row" style="background-color: rgb(128, 128, 128);">
        <td>Email Support</td>
        <td>Email/Text Support</td>
        <td>Email/Text and Phone Support</td>
      </tr>
      <tr class="my-row">
        <td>Same day task delivery</td>
        <td>Immediate task delivery</td>
        <td>Immediate task delivery</td>
      </tr>
      <tr class="my-row" style="background-color: rgb(128, 128, 128);">
        <td>Web/Mobile compatability</td>
        <td>Web/Mobile compatability</td>
        <td>Web/Mobile compatability</td>
      </tr>
      <tr class="my-row">
        <td>Free for first 14 days</td>
        <td>$199/month</td>
        <td>$299/month</td>
      </tr>
    </table>
  </tr>

  <p> 
    <a class="btn btn-primary btn-lg" type="button" role="button" style="textarea: color:black;" <a href="/products/new">New Product</a>
  </p>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

